<!DOCTYPE html>
<html>

<head>
    <title>Change Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-4">

        <!-- Go Back Home Button -->
        <a href="{{ url_for('home') }}" class="btn btn-link">Back Home</a>
        
        <h2>Change Password</h2>

        <!-- Flash Message Section -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert 
            {% if category == 'success' %}alert-success
            {% elif category == 'error' %}alert-danger
            {% elif category == 'warning' %}alert-warning
            {% elif category == 'info' %}alert-info
            {% else %}alert-secondary{% endif %}">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}


        <form method="POST">
            <div class="form-group">
                <label for="current_password">Current Password:</label>
                <input type="password" class="form-control" id="current_password" name="current_password" value="{{ current_password or '' }}" required>
            </div>
            <div class="form-group">
                <label for="new_password">New Password:</label>
                <input type="password" class="form-control" id="new_password" name="new_password" required>
            </div>
            <button type="submit" class="btn btn-warning">Change Password</button>
        </form>
    </div>
</body>

</html>